@model WebApplication1.ViewModels.WelcomePageViewModel

<html>
    <head>
        <title></title>
    </head>
    <body>
        <input type="submit" value="Logout" asp-controller="Account" asp-action="Logout"/>
        <input type="submit" value="ClockIn" />

        <p> <b> you are welcome</b> </p>
    </body>
    </html>
 
