@model WebApplication1.ViewModels.HomeIndexViewModel

<html> 


<head> </head>

<body>

    <div> Hi there @Model.Contacts.FirstName @Model.Contacts.LastName </div>
    <div> worksfor @Model.Cutomer.CustomerName </div>

</body>

</html>