@model WebApplication1.ViewModels.AddRoleViewModel


<form asp-controller = "Role" asp-action="Add" method="post">


    <label> </label>
    <input type="text" asp-for="Role"/>



    <input type="submit" value="Sumbit"/>


</form>