@model WebApplication1.ViewModels.RoleViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    @foreach(var roles in Model.Roles )
    {

    }
</body>
</html>